* {
    padding: 0;
    margin: 0;
}
body {
    background: url('white.jpg') no-repeat;
    background-size: cover;
}
.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: none;
}   
.registration h1 {
    font-size: 29px;
    margin: 40px 0px;
    padding: 2px 2px;
    color: rgb(71, 64, 64);
    border-bottom: 6px solid rgb(102, 98, 98);
    float: left;
}
.registration h1:hover{
    color:rgb(112, 108, 108);
    border-bottom-color:rgb(163, 154, 154);
}
.registration input {
    font-size: 16px;
    padding: 15px 10px;
    width: 80%;
    border: 0;
}
#as, #date {
    background: none;
    border-bottom: 1px solid rgb(121, 117, 117);
}

#az {
    background: none;
    font-size: 26px;
    text-align: center;
    width: 92%;
    color:rgb(61, 57, 57);
    margin:10px 0px;
    padding:4px;
    font-family: 'Noto Serif', serif;
    border:1px solid white;
}
#az:hover {
    color:rgb(110, 106, 106);
    border:1px solid rgb(100, 96, 96);

}
.registration i{
    float:left;
    padding:14px 2px;
    margin:2px 2px;
}
.button{
    margin-top: 25px;

}